<html>
<head>
  <link rel="icon" type="image/png" href="/images/sample.jpg" />
  <title>PSS</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- plugin styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" href="/stylesheets/general.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" />

</head>
<body>
